
.AppBar-list {                  
  list-style: none;
  display: flex;
  
}
.AppBar-item {
  margin-right: 30px;
  font-size: 30px;
}
.lactive-class{
   color: #6b5fc2;

    text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.AppBar-link {
   color: #a198e3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
